{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мои проекты</title>
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">

</head>
<body>
  <table class="projects-table">
    <caption>Мои проекты</caption>
    <thead>
      <tr>
        <th>Проект</th>
        <th>Часы</th>
        <th>Статус</th>
        <th>Комментарий</th>
        <th>Дедлайн</th>
      </tr>
    </thead>
    {% csrf_token %}
    <form action="" method="POST">
      <tbody>
        {% for entry in info %}
          <tr>
            <td>{{ entry.projects }}</td>
            <td>{{ entry.hours }}</td>
            <td>{{ entry.state }}</td>
            <td>{{ entry.comment }}</td>
            <td> {{ entry.deadline }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </form>
  </table>
</body>
</html>
