{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="login-page">
        <div class="login-form">
            <img src="logo.png" alt="Логотип" class="logo">
            <h2>Авторизация</h2>
            <form action=" {% url 'users:login' %}" method="post">
                {% csrf_token %}
                {{form.username}}
                {{form.password}}
                <input class="login-btn" type="submit" value="Войти">
            </form>
        </div>
    </div>
</body>
</html>
