{% load static %}

{% load mytags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-group">
                {% if user|check_permission:'add_generatedreports' == True %}
                    <li><a href="/reports">Reports</a></li>
                {% endif %}
                {% if user|check_permission:'add_generatedreports' == False %}
                    <li><a href="/projects">Мои проекты</a></li>
                    <li><a href="/hours">Мои часы</a></li>
                {% endif %}
                <li><a href="/inbox">Почта</a></li>
                <li><a href="/logout">Выйти</a></li>
          </ul>
        </nav>
    </header>
    {% csrf_token %}
    <main>
        <section class="news">
            <h1>Новости</h1>
            <ul>
                {% block content %}
                {% for entry in info %}
                <li>
                    {% if entry.image %}
                        <img src="{{entry.image.url}}" alt="Новость 1">
                        <h2>{{entry.title}}</h2>
                        <p>{{entry.text}}</p>
                    {% else %}
                        <h2>{{entry.title}}</h2>
                        <p>{{entry.text}}</p>
                    {% endif %}
                </li>
                {% endfor %}  
                {% endblock %}
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 ООО Спорина </p
    </footer>
</body>
</html>
