/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f7f7;
}

/* Навигация */
nav {

    background-color: #f7f7f7;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    padding: 20px;

}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #337ab7;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 10px 20px; /* Добавляем отступы слева и справа */
    border-radius: 10px; /* Добавляем скругление углов */
    background-color: #f7f7f7; /* Добавляем светлый фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

nav a:hover {
    color: #23527c;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Новости */
.news {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news li {
    margin-bottom: 20px;
    border: 3px solid rgb(204, 194, 194);
    border-radius: 9px 9px 9px 9px;
}

.news img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
}

.news h2 {
    margin-top: 0;
}

.news p {
    font-size: 16px;
    color: #666;
}

.nav-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Добавляем отступы слева и справа */
    border-radius: 10px;
}

.nav-group li {
    margin-right: 30px;
}

.nav-group a {
    font-size: 18px; /* Увеличиваем размер шрифта */
    color: #337ab7;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 15px 30px; /* Увеличиваем отступы слева и справа */
    border-radius: 10px;
}

.nav-group a:hover {
    color: #23527c;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav-group a:hover {

    color: #23527c;

    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* Футер */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;

}

@media (max-width: 768px) {

    nav {

        height: 40px;

        padding: 10px;

    }

    .nav-group {

        flex-direction: column;

        padding: 10px;

    }

    .nav-group li {

        margin-right: 0;

        margin-bottom: 10px;

    }

    .nav-group a {

        font-size: 16px;

        padding: 10px 20px;

    }

}


/* Для экранов с шириной до 480px (мобильные устройства) */

@media (max-width: 480px) {

    nav {

        height: 30px;

        padding: 2px;

    }

    .nav-group {

        flex-direction: row;

        padding: 2px;

    }

    .nav-group li {

        margin-right: 0;

        margin-bottom: 5px;

    }

    .nav-group a {

        font-size: 13px;

        padding: 5px 15px;

    }

}
