{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Accounting System</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
  <header>
    <h1>Accounting System</h1>
  </header>
  
  <div class="news-box">
    <h2>Свежие новости</h2>
    <div class="news-item">
      <h3>Начало разработки</h3>
      <p>Мы рады объявить о начале разработки новой системы учета. Ожидайте больше информации в ближайшее время!</p>
    </div>
  </div>
</body>
</html>